 <div class="container">
        <div class="home-header">
            <div class="home-title">
                <h2>Jayed Hossain Jibon</h2>
            </div>
            <p class="text-center">
                Software Engineer | Python, django, django rest | Javascript, react.js, next.js | React native
            </p>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 mb-4">
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="post-list">Django REST Framework: Using the request object
                            /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" class="post-list">Django REST Framework: Using the request object
                            /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" class="post-list">Django REST Framework: Using the request object
                            /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" class="post-list">Django REST Framework: Using the request object
                            /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" class="post-list">Django REST Framework: Using the request object
                            /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" class="post-list">Django REST Framework: Using the request object
                            /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" class="post-list">Django REST Framework: Using the request object
                            /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" class="post-list">Django REST Framework: Using the request object
                            /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" class="post-list">Django REST Framework: Using the request object
                            /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>