{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <section id="home-section">
        <div class="container">
            <div class="row">
                {% if profile.exists %}
                    {% for p in profile %}
                        <div class="col col-md-12 col-lg-12 col-xl-12">
                            {% if p.image %}
                                <img class="profile-img" src="{{ p.image.url }}" alt="Jibon Ahmed">
                            {% else %}
                                <img class="profile-img" src="{% static 'images/profile/profile.png' %}"
                                     alt="Jibon Ahmed">
                            {% endif %}
                            <div class="intro-text">
                                <h6 class="name">{{ p.name }}</h6>
                                <hr>
                                <h6 class="skills">{{ p.status }}</h6>
                                <a href="{{ p.resume.url }}" class="btn btn-warning mt-2">Download Resume</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col col-md-12 col-lg-12 col-xl-12">
                        <img class="profile-img" src="{% static 'images/profile/profile.png' %}"
                             alt="Jibon Ahmed">
                        <div class="intro-text">
                            <h6 class="name">Jayed Hossain Jibon</h6>
                            <hr>
                            <h6 class="skills">Software Engineer</h6>
                            <a href="#" class="btn btn-warning mt-2">Download Resume</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="home-info">
        <div class="container">
            <h2 class="home-info-title">ABOUT ME</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-justify">
                        I have over 6 years of experience as a software engineer, and have worked at both small startups
                        and large organizations. While I'm a proficient full-stack developer, my expertise is in
                        building scalable backend services (API services, stream processing, and async mechanisms).
                    </p>
                    <p class="text-justify">
                        I love building things. While hard engineering problems are often intrinsically fun to tackle,
                        I'm most attracted to solving real customer problems with a business justification. I'm looking
                        for a senior individual contributor role where I can take on on collaborative team leadership
                        responsibilites, and gain experience with architecture and project management.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2 class="highlights">HIGHLIGHTS</h2>
                    <ul>
                        <li class="ml-4 mb-4">
                            Migrated a monolithic Heroku Ruby on Rails API to multiple Scala services hosted on AWS.
                            Delivered ahead of schedule, projected to save $18k/quarter.
                        </li>
                        <li class="ml-4 mb-4">
                            Presented research and proof-of-concept to convince team to move from Hadoop MR to Spark;
                            reduced nodes by 60% and ran 5-8x faster.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}

