{% extends 'base.html' %}
{% load static %}
{% block title %}Project - {{ block.super }}{% endblock %}

{% block content %}

    <section id="project-section">
        <div class="container">
            <div class="project-header">
                <div class="project-title">
                    <h2>My Project</h2>
                </div>
            </div>
            <div class="docs-overview">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <a href="#">
                                <img src="{% static 'images/project/blog.jpg' %}" class="img-fluid"  alt="project image missing">
                            </a>
                            <div class="card-body">
                                <h5 class="text-center mt-2">
                                    <a href="#">E-Commerce Belasea</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <a href="#">
                                <img src="{% static 'images/project/image.jpg' %}" class="img-fluid"  alt="project image missing">
                            </a>
                            <div class="card-body">
                                <h5 class="text-center mt-2">
                                    <a href="#">E-Commerce Belaface</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <a href="#">
                                <img src="{% static 'images/project/image4.jpg' %}" class="img-fluid"  alt="project image missing">
                            </a>
                            <div class="card-body">
                                <h5 class="text-center mt-2">
                                    <a href="#">Prairie Western College</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <a href="#">
                                <img src="{% static 'images/project/image6.jpg' %}" class="img-fluid"  alt="project image missing">
                            </a>
                            <div class="card-body">
                                <h5 class="text-center mt-2">
                                    <a href="#">Student Grad System</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <img src="{% static 'images/project/image4.jpg' %}" class="img-fluid"  alt="project image missing">
                            <div class="card-body">
                                <h5 class="text-center mt-2">
                                    <a href="#">Studielife</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <a href="#">
                                <img src="{% static 'images/project/image4.jpg' %}" class="img-fluid"  alt="project image missing">
                            </a>
                            <div class="card-body">
                                <h5 class="text-center mt-2">
                                    <a href="#">Inayah Welfare Trust: Home</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}