{% extends 'base.html' %}
{% load static %}
{% block title %}Project - {{ block.super }}{% endblock %}

{% block content %}

    <div class="page-content">
        <div class="container">
            <div class="docs-overview py-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <img src="{% static 'images/project/blog.jpg' %}" alt="">
                            <div class="card-body">
                                <h5 class="text-center mt-2">E-Commerce Belasea</h5>
                                <a class="card-link-mask" href="#"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <img src="{% static 'images/project/image.jpg' %}" alt="">
                            <div class="card-body">
                                <h5 class="text-center mt-2">Wholesale Belaface</h5>
                                <a class="card-link-mask" href="#"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <img src="{% static 'images/project/image4.jpg' %}" alt="">
                            <div class="card-body">
                                <h5 class="text-center mt-2">Prairie Western College</h5>
                                <a class="card-link-mask" href="#"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <img src="{% static 'images/project/image6.jpg' %}" alt="">
                            <div class="card-body">
                                <h5 class="text-center mt-2">Student Grad System</h5>
                                <a class="card-link-mask" href="#"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <img src="{% static 'images/project/image4.jpg' %}" alt="">
                            <div class="card-body">
                                <h5 class="text-center mt-2">Studielife</h5>
                                <a class="card-link-mask" href="#"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-3">
                        <div class="card shadow-sm">
                            <img src="{% static 'images/project/image4.jpg' %}" alt="">
                            <div class="card-body">
                                <h5 class="text-center mt-2">Inayah Welfare Trust: Home</h5>
                                <a class="card-link-mask" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}