{% extends 'base.html' %}
{% load static %}
{% block title %}My Project {{ block.super }}{% endblock %}

{% block content %}

    <section id="project-section">
        <div class="container">
            <div class="project-header">
                <div class="project-title">
                    <h2>My Project</h2>
                </div>
            </div>
            {% if queryset.exists %}
                <div class="project-overview">
                    <div class="row justify-content-center">
                        {% for project in queryset %}
                            <div class="col-12 col-lg-4 py-3">
                                <div class="card shadow-sm">
                                    <a href="{{ project.url }}">
                                        {% if project.image %}
                                            <img src="{{ project.image.url }}" class="img-fluid"
                                                 alt="project image missing">
                                        {% else %}
                                            <img src="{% static 'images/project/blog.jpg' %}" class="img-fluid"
                                                 alt="project image missing">
                                        {% endif %}
                                    </a>
                                    <div class="card-body">
                                        <h5 class="text-center mt-2">
                                            <a href="{{ project.url }}">{{ project.name }}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="project-overview">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-4 py-3">
                            <div class="card shadow-sm">
                                <a href="https://belasea.com/">
                                    <img src="{% static 'images/project/blog.jpg' %}" class="img-fluid"
                                         alt="project image missing">
                                </a>
                                <div class="card-body">
                                    <h5 class="text-center mt-2">
                                        <a href="https://belasea.com/">E-Commerce Belasea</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 py-3">
                            <div class="card shadow-sm">
                                <a href="https://belaface.be/">
                                    <img src="{% static 'images/project/image.jpg' %}" class="img-fluid"
                                         alt="project image missing">
                                </a>
                                <div class="card-body">
                                    <h5 class="text-center mt-2">
                                        <a href="https://belaface.be/">E-Commerce Belaface</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 py-3">
                            <div class="card shadow-sm">
                                <a href="https://www.prairiewestern.ca/">
                                    <img src="{% static 'images/project/image4.jpg' %}" class="img-fluid"
                                         alt="project image missing">
                                </a>
                                <div class="card-body">
                                    <h5 class="text-center mt-2">
                                        <a href="https://www.prairiewestern.ca/">Prairie Western College</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 py-3">
                            <div class="card shadow-sm">
                                <a href="https://www.pwcollege.ca/" target="_blank">
                                    <img src="{% static 'images/project/image6.jpg' %}" class="img-fluid"
                                         alt="project image missing">
                                </a>
                                <div class="card-body">
                                    <h5 class="text-center mt-2">
                                        <a href="https://www.pwcollege.ca/" target="_blank">Student Grad System</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 py-3">
                            <div class="card shadow-sm">
                                <a href="http://www.inayahwelfaretrust.org/">
                                    <img src="{% static 'images/project/image4.jpg' %}" class="img-fluid"
                                         alt="project image missing">
                                </a>
                                <div class="card-body">
                                    <h5 class="text-center mt-2">
                                        <a href="http://www.inayahwelfaretrust.org/">Inayah Welfare Trust: Home</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 py-3">
                            <div class="card shadow-sm">
                                <img src="{% static 'images/project/image4.jpg' %}" class="img-fluid"
                                     alt="project image missing">
                                <div class="card-body">
                                    <h5 class="text-center mt-2">
                                        <a href="#">Studielife</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </section>

{% endblock content %}