{% extends 'base.html' %}
{% block title %} Blog - {{ block.super }}  {% endblock %}

{% block content %}

    <section id="blog-section">
        <div class="container">
            <div class="blog-header">
                <div class="blog-header-title">
                    <h2>Blog</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 mb-4">
                    {% if object_list.exists %}
                        {% for blog in object_list %}
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{% url 'blog-detail' blog.slug %}" class="blog-list">
                                        {{ blog.title }}
                                        <span class="mx-1 text-secondary">/  {{ blog.timestamp }}</span>
                                    </a>
                                </li>
                            </ul>
                        {% endfor %}
                    {% else %}
                        <h2 class="text-center" style="margin-bottom: 30rem">Blog is coming ...</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

