{% extends 'base.html' %}
{% block title %} Blog - {{ block.super }}  {% endblock %}

{% block content %}

    <section id="blog-section">
        <div class="container">
            <div class="blog-header">
                <div class="blog-header-title">
                    <h2>Blog</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 mb-4">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'blog-detail' %}" class="blog-list">Django REST Framework: Using the request object
                                <span class="mx-1 text-secondary">/  Published Sat, June 2023</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#" class="post-list">Django REST Framework: Using the request object
                                /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#" class="post-list">Django REST Framework: Using the request object
                                /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#" class="post-list">Django REST Framework: Using the request object
                                /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#" class="post-list">Django REST Framework: Using the request object
                                /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#" class="post-list">Django REST Framework: Using the request object
                                /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#" class="post-list">Django REST Framework: Using the request object
                                /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#" class="post-list">Django REST Framework: Using the request object
                                /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="#" class="post-list">Django REST Framework: Using the request object
                                /<span class="mx-1 text-secondary">Published Sat, June 2023</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}