{% extends 'accounts/base_account.html' %}
{% block title %} Change password successful {{ block.super }} {% endblock title %}


{% block content %}

    <div id="main-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-success" role="alert">
                                <strong>Success!</strong> Your password has been changed!
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'home' %}" class="btn btn-primary">Return to home page</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
