{% extends "base.html" %}

{% block title %}403 Permission Denied - {{ block.super }} {% endblock %}

{% block content %}

    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1 class="text-center" style="font-size: 180px">
                        <span style="color: #0c5460">4</span><span>0</span><span style="color: #0c5460">3</span>
                    </h1>
                     <h2 class="text-center mb-5">
                         <i class="fa fa-warning text-warning"></i>
                         Oops Permission Denied
                     </h2>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}