{% extends "base.html" %}
{% block title %}Dashboard - {{ block.super }} {% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center">Dashboard</h1>
        <div class="row">
            <div class="col">
                <a href="{% url "notifications" %}">
                    Notifications
                    {% if unread_notifications %}
                        <span class="badge bg-secondary">{{ unread_notifications }}</span>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>

{% endblock content %}