{% extends "base.html" %}
{% block title %}Notification - {{ block.super }} {% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center">Update Expense</h1>
        <div class="row">
            {% if notifications.exists %}
                <div class="col">
                    {% for notification in notifications %}
                        {% if not notification.read %}
                            <div class="notification">
                                <a href="{{ notification.link }}">{{ notification.message }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="col">
                    <h3>No notifications Found</h3>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}