* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    -webkit-transition: color .3s, background-color .3s;
    -moz-transition: color .3s, background-color .3s;
    -o-transition: color .3s, background-color .3s;
    transition: color .3s, background-color .3s
}

a:focus,
a:hover {
    outline: 0;
    text-decoration: none;
}


.limited {
    color: #005cbf
}

#main-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.nav-item{
   margin: 0;
    padding: 0;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: #c82333 !important;
}

